/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements h2{
    margin-bottom: 33px;
}
.hebergements-cards{
    display: grid;
    grid-template-rows: 13.5em 13.5em;
    grid-template-columns: 33% 33% 33%;
    gap: 1em;
    justify-content: center;
    margin-left: 0.7em;
    margin-bottom: 2em;
    
}
.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}
.hebergements-cards img{
    height: 60%;
    border-radius: 15px 15px 0 0;
}
.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    box-sizing: border-box;
}
.hebergements-cards .card-subtitle{
    margin: 0;
    font-size: 0.8em;
}

.hebergements-cards .card-title{
    margin-bottom: 0.1em;
    margin-top: 0.5em;
}
.hebergements-cards .card-rating{
    margin-bottom: 5em;
    margin-top: 0.5em;
}
.hebergements .more{
    cursor: pointer ;
    border: none;
    font-size: 1.1em;
    font-weight: 800;
    background: none;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**** Activités *****/
.activites {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.activites-cards {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 25em;
    justify-content: center;
    gap: 1.8em;
    margin-top: 2em;
}
.activites h2 {
    margin-left: 1.5em;
}
.activites-cards .card{
    display: grid;
    grid-template-rows: 85%;
    height: 100%;
    padding: 0;
}
.activites-cards .card-title {
    padding-left: 1em;
    padding-right: 0.5em;
    align-self: center;
}


.activites-cards img {
    border-radius: 1em 1em 0 0 ;
    width: 100%;
    height: 100%;
}

/****** Header logo et navigation *****/
header{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    padding-top: 1em;
    padding-bottom: 1em;
    
}
.logo img{
    max-height: 1.1em;
}
nav{
    margin-top: 1em;
}
nav a{
    border-top: 0.3em transparent solid;
    padding-top: 0.8em;
    margin-left: 3em;


}
nav a:hover{
    border-top: 0.3em #0065FC solid;
    color: #0065FC;
}

/*** Footer ****/

.footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #F2F2F2;
    margin-top: 3em;
    margin-bottom: 3em;
}
.footer h3 {
    margin-bottom: 0;
}
.footer div {
    display: flex;
    flex-direction: column;
    padding-left: 1.2em;
}
.footer ul {
    list-style-type: none;
    font-size: 0.9em;
    font-weight: 500;
    padding-left: 0;
    margin-bottom: 0;
}
.footer li {
    padding-top: 0;
    padding-bottom: 1.2em;
}
/********* Barre de recherches ********/
.textrecherche {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.textrecherche h3{
    margin-bottom: 0em;
}
.textrecherche p{
    margin-top: 0.5em;
}
.Recherche form{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    justify-content: flex-start;
}

.Recherche #location_dot i{
    color: black;
    font-size: 1em;
    padding: 1em;
    border-top-left-radius: 0.9em;
    border-bottom-left-radius: 0.9em;
    background-color: #F2F2F2;
    padding-right: 1.1em;
} 
.Recherche input{
    padding: 0.8em;
    font-size: 1em;
    font-weight: 600;
    border: none;
}
.Recherche #place-search{
    border-top: 0.1em #F2F2F2 solid;
    border-bottom: 0.1em #F2F2F2 solid;
    width: 11em;
}
.Recherche #place-search:focus{
    outline: none;
}
.Recherche .input-recherche{
    cursor: pointer;
    background-color: #0065FC;
    border-radius: 0 1.2em 1.2em 0;
    color: #F2F2F2;
}
.Recherche .loupe {
    display: none;
}
/******** Filtres Recherche *****/
.Filtres, .boutons-filtres{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1em;
}
.boutons-filtres{
    margin-bottom: 0;
    margin-left: 0.5em;
}
.Filtres button{
    display: flex;
    align-items: center;
    margin: 0.5em;
    padding: 0 1em;
    font-size: 1em;
    font-weight: 600;
    height: 3em;
    background-color: transparent;
    border: 0.15em #e1e1e1 solid;
    border-radius: 2em;
}
.Filtres button i{
    margin-right: 0.5em;
    font-size: 1.3em;
}

.Filtres button:hover{
    background-color: #DEEBFF;
    border: 0.15em #c8cdd5 solid;
}
/***** Commentaire recherches ***/
.disponible{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}

.disponible i{
    margin-right: 1em;
    padding: 0.5em 0.8em;
    font-size: 0.7em;
    border: 0.1em #F2F2F2 solid;
    border-radius: 3em;
}








/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /******* Hébergements and Populaires Tablette *****/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /***** Activités Tablette ****/

    .activites-cards {
        grid-template-rows: 78%;
    }

    .activites-cards .card {
        grid-template-rows: 70%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

/***** Hébergements & Populaires Portable *****/

.hebergements-and-populaires section {
    border-radius: 0;
    background-color: unset;
    padding: 1em;
}
.hebergements-and-populaires .populaires {
    background-color: var(--main-bg-color);
}

/******* Hebergements ******/

.hebergements {
    order: 1;
}

.hebergements-cards {
    margin: 0;
    grid-template-rows: 13em 13em 13em 13em 13em 13em;
    grid-template-columns: 1fr;
}

.hebergements-cards .card {
    width: 100%;
}

.hebergements .more {
    margin-top: 1em;
}

/********** Populaires Portable *****/ 

.populaires-cards {
    flex-direction: column;
}

.populaires-cards a {
    width: 100%;
}

.populaires-cards .card {
    margin-top: 1em;
}


/***** Activités Portable ****/
    
.activites-cards {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1.2em;
    margin-bottom: 2em;
}

.activites-cards .card {
    height: 13em;
}

.activites-cards img {
    height: 100%;
}

/***** Nav header Portable ****/

header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
    
header a {
     
}
.logo {
    margin-top: 1.5em;
    padding: 0 ;
    margin-bottom: 0.5em;
}
nav a{
    width: 50%;
    text-align: center;
    border-top: none;
    border-bottom: 0.3em #F2F2F2 solid;
    padding-bottom: 1em;
    margin-left: 0;
}
nav a:hover{
    border-top: none;
    border-bottom: 0.3em #0065FC solid;
    color: #0065FC;
}
nav {
    width: 100%;
    display: flex;
    margin-top: 0;
}

/******** Footer Portable *****/

.footer {
    grid-template-columns: 1fr;
    margin: 0;
}

/****** Formulaire Recherche Portable *******/

.Recherche {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}

.Recherche form {
    align-self: center;
}

.Recherche .input-recherche{
    display: none;
}
.Recherche .loupe {
    display: block;
    padding: 1em;
    min-width: 4em;
    cursor: pointer;
    background-color: #0065FC;
    border-radius: 1.2em;
    border: none;
    filter: drop-shadow(0em  0.4em 0.1em rgba(0, 0, 0, 0.2));
}
.Recherche .loupe i {
    color: #F2F2F2;
    font-size: medium;
}


.Recherche #place-search{
    width: 100%;
    min-width: 0;
    padding: 0 1em;
}

.Recherche #location_dot i{
    color: black;
    font-size: medium;
} 
/******** Filtres Recherche Portable *****/

.Filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Filtres .boutons-filtres {
    margin: 0;
    align-self: center;
    width: 100%;
    display: grid;
    grid-template-rows: 3em 3em;
    grid-template-columns: 50% 50%;
    gap: 1em 0.5em ;
}

.Filtres button {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 80%;
    
}
.disponible {
    margin-bottom: 0;
}

}